In [1]:
# importing libararies
import numpy as np
import pandas as pd

In [2]:
# Loading dataset with kfolds that we have created
df_train = pd.read_csv('dataset/train_fold.csv')
df_test = pd.read_csv('dataset/test.csv')

In [3]:
df_train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,fold,Last_Month_purchase,Purchase_Bins
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,0,334093,0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,0,334093,0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,0,334093,0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,0,334093,0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,0,810472,1

In [6]:
print('training dataset shape : {}'.format(df_train.shape))
print('test dataset shape : {}'.format(df_test.shape))

training dataset shape : (550068, 15)
test dataset shape : (233599, 11)

In [5]:
df_train.fold.value_counts()

2    110014
1    110014
0    110014
4    110013
3    110013
Name: fold, dtype: int64

## Feature Engineering

let's create some feature based on "product" and "Customer" such as 
- How many product does a customer buy in last month
- How many customer does a product bought
- How many times a customer visited
- How many product acustomer bought belong to cat1 and cat2
-

In [22]:
def feature_engg(df):
    # number of product bought by customer in last month
    df['Product_Bought'] = df.groupby('User_ID')['Product_ID'].transform('count')
    # number of customer for a product in last month
    df['Number_of_Customer'] = df.groupby('Product_ID')['User_ID'].transform('count')
    # number of times a customer visited in months
    count_dict = df.User_ID.value_counts().to_dict()
    df['Customer_Visit'] = 0
    for user in count_dict.keys():
        df.loc[(df.User_ID == user) , 'Customer_Visit'] = count_dict[user]

    return df
df_feat = feature_engg(df_train)

In [27]:
df_train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
fold                               0
Last_Month_purchase                0
Purchase_Bins                      0
Product_Bought                     0
Number_of_Customer                 0
Customer_Visit                     0
dtype: int64

The NaN values in the Two category type is because the product does not belong to any of these two categories so, fill the NaN value with zero

In [28]:
df_train.fillna(0 , inplace = True)

In [30]:
df_test.fillna(0 , inplace = True)